<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de estudiantes</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
 <!-- navbar -->
 <div th:replace="fragments/navbar :: navbar"></div>
 <!-- fin navbar -->
 
 <div class="container mt-5">
 	<h2 class="text-center mb-4">List Students</h2>
 	<div class="container">
 		<div class="row">
 			<div class="col">
 				<a class="btn btn-outline-success" th:href="@{students/new}"><i class="mx-1 fa-solid fa-plus"></i>Create Student</a>			
 			</div>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-6 offset-3">
 			<table class="table">
 				<thead>
 					<tr>
 						<th scope="col">#</th>
 						<th scope="col">Name</th>
 						<th scope="col">Lastname</th>
 						<th scope="col">Email</th>
 						<th scope="col">Actions</th>
 					</tr>
 				</thead>
 				<tbody>
 					<tr>
 						<td></td>
 						<td></td>
 						<td></td>
 						<td></td>
 						<td>
 						<a class="text-success" href="#"><i class="fa-solid fa-pen-to-square mx-3"></i></a>
 						<a class="text-danger" href="#"><i class="fa-solid fa-trash"></i></a>
 						</td>
 					</tr>	
 				</tbody>
 			</table>
 		</div>
 	</div>
 </div>
 
 
 <!-- scripts -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
</body>
</html>