<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- Head Fragments -->
<head th:replace="fragments/head::headerFragment('Students')"></head>

<body>
 <!-- Navbar Fragments-->
 <div th:replace="fragments/navbar :: navbar"></div>
 
 
 <div class="container mt-5">
 	<h2 class="text-center mb-4">List Students</h2>
 	<div class="container">
 		<div class="row">
 			<div class="col">
 				<a class="btn btn-outline-success" th:href="@{students/new}"><i class="mx-1 fa-solid fa-plus"></i>Create Student</a>			
 			</div>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-6 offset-3">
 			<table class="table table-dark table-hover">
 				<thead class="table-dark">
 					<tr>
 						<th scope="col">Name</th>
 						<th scope="col">Lastname</th>
 						<th scope="col">Email</th>
 						<th scope="col">Actions</th>
 					</tr>
 				</thead>
 				<tbody>
 					<tr th:each="students: ${students}">
                        <td th:text="${students.name}"></td>
                        <td th:text="${students.lastname}"></td>
                        <td th:text="${students.email}"></td>
                        <td>
                         <a class="text-success" th:href="@{/students/edit/{id}(id=${students.id})}"><i class="fa-solid fa-pen-to-square mx-3"></i></a>	 
 						 <a class="text-danger" th:href="@{/students-delete/{id}(id=${students.id})}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                      </tr>	
 				</tbody>
 			</table>
 		</div>
 	</div>
 </div>
 
 
 <!-- scripts -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
</body>
</html>